doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/angular-material/angular-material.css')
    link(rel='stylesheet', href='/Materialize/dist/css/materialize.css')
    script(src='/jquery/dist/jquery.js')
    script(src='/Materialize/dist/js/materialize.js')
    script(src='/angular/angular.js')
    script(src='/angular-route/angular-route.js')
    script(src='/javascripts/Services.js')
    script(src='/javascripts/Controllers.js')
    script(src='/javascripts/myApp.js')
    body(ng-app="myApp")
    h1(style="text-align: center;") MEAN STACK
    div(ng-view)